header nav{
background-color:rgba(255, 255, 255, 0.959);

}
nav a {
  
    font-size:17px;
    letter-spacing:1px;
}

.clr-1 {

    background-color:rgb(0, 124, 253);
}
.clr-2 {

    background-color:rgb(8, 137, 231);
}
.clr-3 {

    background-color:rgb(16, 149, 207);
}
.clr-4 {

    background-color:rgb(23, 162, 183);
}

.circulo {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: azure;	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin:10x ;
  padding:10%
}

